src/main/mule/world-timezone-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="88a6218d-b2d1-4f8a-b374-702c9f8532e2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="6b37421f-b53b-4edf-9be3-e0b575c97f0d" basePath="/api" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-timezone-appFlow" doc:id="8263ffcf-473a-40fe-841c-cf21b37128d9" >
		<http:listener doc:name="GET /World-Timezone" doc:id="b8a07a8a-1811-48ff-b32c-e0a8eab0731f" config-ref="HTTP_Listener_config" path="/timezone/{region}/{location}"/>
		<http:request method="GET" doc:name="WorldTimeZone API" doc:id="451837bf-c24e-434c-98ac-636b22ff4db5" config-ref="HTTP_Request_configuration" path="/timezone/{region}/{location}" responseTimeout="10000">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"location" : attributes.uriParams.location
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
